DEBUG=False
DJANGO_SECRET_KEY='your_secret_key'
POSTGRES_DB=autspacestest
POSTGRES_USER='your_username'
POSTGRES_PASSWORD=''
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
STATIC_URL='/static/'